.card-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 125vh;
  height: 85vh;
}

h1{
  margin: 0;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ED9357;
  color: white;
  padding: 1rem;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

}

.container-details {
  flex-grow: 1;
}

.container-name {
  color: #303030;
  font-weight: bold;
}

.container-description {
  color: #303030;
  font-style: normal;
}

.card-actions {
  display: flex;
}

.card-actions button {
  margin-left: 0;
}

mat-card{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.3);
}

mat-list{
  padding: 0;
  margin: 0.5vh;
}

mat-list::-webkit-scrollbar {
  width: 8px;
}

mat-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

mat-list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

mat-list::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 4px;
}

mat-list-item{
  margin: 1vh;
  padding: 0;
  max-width: 120.5vh;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.custom-icon{
  color: #ED9357;
}
