<div class="card-container">
  <mat-card class="card">
    <div class="card-header">
      <h1>Containers</h1>
      <button mat-icon-button (click)="newContainer()" style="color: white;" matTooltip="Add container">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <mat-list class="list-group overflow-auto">
      <mat-list-item *ngFor="let container of containers; let i = index">
        <div class="card-content">
          <div class="container-details">
            <div class="container-name">
              {{ container.name }}
            </div>
            <div class="container-description">
              {{ container.description }}
            </div>
          </div>
          <div class="card-actions">
            <button mat-icon-button [style.color]="i !== 0 ? '#ED9357' : '#9E9E9E'" (click)="editContainer(container.id)"
              [disabled]="container.name === 'Root'" matTooltip="Edit container">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openConfirmationModal(container.id)"
              [disabled]="container.name === 'Root'" matTooltip="Delete container">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
