<div class="card-container">
  <mat-card class="card">
    <div class="card-header">
      <h1>Organizations</h1>
      <button mat-icon-button (click)="newOrganization()" style="color: white;" matTooltip="Add organization">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <mat-list class="list-group overflow-auto">
      <mat-list-item
        *ngFor="let organization of organizations; let i = index"
      >
        <div class="card-content">
          <div class="organization-details">
            <div class="organization-name">
              {{ organization.name }}
            </div>
            <div class="user-email">
              {{ organization.description }}
            </div>
          </div>
          <div class="card-actions">
            <button mat-icon-button style="color: #ED9357" (click)="editOrganization(organization.id)" matTooltip="Edit organization">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openConfirmationModal(organization.id)" matTooltip="Delete organization">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
