<div class="card-container">
  <mat-card class="card">
    <div class="card-header">
      <h1>Permissions</h1>
      <button mat-icon-button (click)="newPermission()" style="color: white;" matTooltip="Add permission">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <mat-list class="list-group overflow-auto">
      <mat-list-item
        *ngFor="let permission of permissions; let i = index"
      >
        <div class="card-content">
          <div class="permission-details">
            <div class="permission-name">
              {{ permission.name }}
            </div>
            <div class="permission-description">
              {{ permission.description }}
            </div>
          </div>
          <div class="card-actions">
            <button mat-icon-button style="color: #ED9357;" (click)="editPermission(permission.id)" matTooltip="Edit permission">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openConfirmationModal(permission.id)" matTooltip="Delete permission">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
