<div class="card-container">
  <mat-card class="card">
    <div class="card-header">
      <h1>Roles</h1>
      <button mat-icon-button (click)="newRole()" style="color: white;" matTooltip="Add role">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <mat-list class="list-group overflow-auto">
      <mat-list-item
        *ngFor="let role of roles; let i = index"
      >
        <div class="card-content">
          <div class="role-details">
            <div class="role-name">
              {{ role.name }}
            </div>
            <div class="role-description">
              {{ role.description }}
            </div>
          </div>
          <div class="card-actions">
            <button mat-icon-button [style.color]="i !== 0 ? '#ED9357' : '#9E9E9E'" (click)="editRole(role.id)"
            [disabled]="i===0" matTooltip="Edit role">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openConfirmationModal(role.id)" [disabled]="i===0"
            matTooltip="Delete role">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
